################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Axtract.BookStore/.vs/Axtract.BookStore/v16
/Axtract.BookStore/Axtract.BookStore/obj
