@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="Viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Book Store Application</h1>
    <p>This is the home page of our Book store Web Application. You can easily get all the books from here. Thanks!</p>
</body>
</html>
