
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>

    <h1> COntact Us At</h1>
    <h2> Email id : AxtractSoftwareHouse@uk.com </h2>
    <h2> Phone Number : 057-2688033 </h2>
    <H2> Twitter : @@axtract.com </h2>
</body>
</html>
